@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 32px;
}

#person-1,
#person-2 {
  position: relative;
  display: flex;
  margin-top: 10rem;
}

#person-1 .slider-image,
#person-2 .slider-image {
  order: 1;
  z-index: 2;
  position: relative;
}

#person-1 .slider-image .image,
#person-2 .slider-image .image {
  position: relative;
}

#person-1 .slider-image .image .speaker,
#person-2 .slider-image .image .speaker {
  position: absolute;
  right: 5rem;
  top: 5rem;
}

#person-1 .slider-image .slider,
#person-2 .slider-image .slider {
  position: absolute;
  top: 36.5rem;
  left: 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  border-radius: 3rem;
  box-shadow: 0 4px 10px 5px #dcdcef;
  background-color: #fff;
}

#person-1 .slider-image .slider .btn,
#person-2 .slider-image .slider .btn {
  width: 50px;
  height: 65px;
  border: none;
  background-color: #fff;
  border-radius: 3rem;
}

#person-1 .slider-image .slider .btn:hover,
#person-2 .slider-image .slider .btn:hover {
  cursor: pointer;
  background-color: red;
}

#person-1 .slider-text,
#person-2 .slider-text {
  order: 0;
  margin-top: 10rem;
  margin-left: 10rem;
  background: url("images/pattern-quotes.svg") 15% top no-repeat;
  padding-top: 3rem;
  z-index: 3;
  position: relative;
}

#person-1 .slider-text p,
#person-2 .slider-text p {
  color: #202046;
  font-weight: 300;
  line-height: 1.5em;
  margin-right: -12rem;
  margin-bottom: 2rem;
}

#person-1 .slider-text .author,
#person-2 .slider-text .author {
  display: flex;
  font-size: 1.5rem;
}

#person-1 .slider-text .author h4,
#person-2 .slider-text .author h4 {
  margin-right: 1rem;
}

#person-1 .slider-text .author span,
#person-2 .slider-text .author span {
  font-weight: 300;
  color: #babacf;
}

#person-1 .slider-text .curve-img,
#person-2 .slider-text .curve-img {
  position: absolute;
  text-align: left;
  left: -10rem;
  top: 30rem;
}

#person-2 {
  display: none;
}

@media (max-width: 1300px) {
  #person-1,
  #person-2 {
    margin-top: 5rem;
    flex-direction: column;
    justify-content: top;
    align-items: center;
  }
  #person-1 .slider-image .slider,
  #person-2 .slider-image .slider {
    bottom: 0.8rem;
    left: 40%;
  }
  #person-1 .slider-text,
  #person-2 .slider-text {
    order: 1;
    width: 90%;
    margin: 3rem auto;
    margin-bottom: 0rem;
    display: block;
    text-align: center;
    background-position: 50% top;
  }
  #person-1 .slider-text p,
  #person-2 .slider-text p {
    width: 100%;
  }
  #person-1 .slider-text .author,
  #person-2 .slider-text .author {
    display: block;
  }
  #person-1 .slider-text .author h4,
  #person-2 .slider-text .author h4 {
    margin-bottom: 1rem;
  }
  #person-1 .slider-text .curve-img,
  #person-2 .slider-text .curve-img {
    position: relative;
    text-align: left;
    left: -3rem;
    margin-top: -30rem;
  }
  .slider {
    bottom: 0.8rem;
    left: 40%;
  }
}
/*# sourceMappingURL=style.css.map */